<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
<div id="content_footer"></div>
<div id="footer">
  <p><a href="index.html">Home</a> | <a href="contact.html">Contact Us</a></p>

</div>
</div>
</body>

</html>