<% include partials/header.ejs %>

    <div id="content_header"></div>
    <div id="site_content">
      <div id="content">
        <h1>Welcome to the textured_orbs template</h1>
        <p>This standards compliant, simple, fixed width website template is released as an 'open source' design (under
          a <a href="http://creativecommons.org/licenses/by/3.0">Creative Commons Attribution 3.0 Licence</a>), which
          means that you are free to download and use it for anything you want (including modifying and amending it).
          All I ask is that you leave the 'design from HTML5webtemplates.co.uk' link in the footer of the template, but
          other than that...</p>

            <p>
              <a href="/login"> <input class="btn btnblack" type="submit" value="Login" /></a>
              &nbsp; &nbsp;
              <a href="/register"> <input class="btn btnblack" type="submit" value="Register" /></a>
            </p>

      </div>
    </div>
    <% include partials/footer.ejs %>