<% include partials/header.ejs %>

    <div id="content_header"></div>
    <div id="site_content">
      <!--<div id="banner"></div>-->
      
      <!--  SIDE BAR
        <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>June 1st, 2014</h5>
            <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
              <li><a href="#">link 4</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div> 
      -->


      <div id="content">
        <h1>Welcome to the textured_orbs template</h1>
        <p>This standards compliant, simple, fixed width website template is released as an 'open source' design (under
          a <a href="http://creativecommons.org/licenses/by/3.0">Creative Commons Attribution 3.0 Licence</a>), which
          means that you are free to download and use it for anything you want (including modifying and amending it).
          All I ask is that you leave the 'design from HTML5webtemplates.co.uk' link in the footer of the template, but
          other than that...</p>
          <div class="form_settings">
            <p>
              <a href="/login"> <input class="submitlogin" type="submit" value="Login" /></a>
              &nbsp; &nbsp;
              <a href="/register"> <input class="submitsignin" type="submit" value="Register" /></a>
            </p>
          </div> 
      </div>
    </div>
    <% include partials/footer.ejs %>